# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List the commonly used libraries
* Examples of evaluating arithmetic expressions in Python
* List Data Science Tools

Some of the popular languages that Data Scientists use are:

1. R
2. python
3. SQL
4. java

Some of the commonly used libraries used by Data Scientists include:

* numpy
* pandas
* Plotly
* Scikit-Learn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|IBM SPSS|
|Pytorch|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#  This will convert 200 minutes to hours by diving by 60


200/60

3.3333333333333335

## Author
Juan Carlos Arriagada